:root {
  --primary-text-color: #212121;
  --black-pure-color: #000;
  --second-text-color: #757575;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --gray-background: #f5f4fa;
  --black-background: #2f303a;
  --border-color: #ececec;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0px;
}



.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}




/* header */
.header-flex {
  display: flex;
  height: 80px;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;

  color: var(--black-pure-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-span {
  color: var(--blue-color);
}

.nav {
  display: flex;
  margin-left: 97px;
}

.item-nav {
  display: flex;
  padding-left: 0px;
}

.item-nav li {
  margin-right: 52px;
}

.item-nav .link {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.item-nav li:last-child {
  margin-right: 0px;
}

.item-nav .link:hover,
.item-nav .link:focus {
  color: var(--blue-color);
  padding-top: 100%;
  padding-bottom: 100%;
}

.item-nav .link.current {
  color: var(--blue-color);
}

.site-contacts.list {
  display: flex;
  margin-left: auto;


}

.site-contacts .email {
  color: var(--second-text-color);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.site-contacts .phone {
  color: var(--second-text-color);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-right: 0px;
}

.site-contacts .email:hover,
.site-contacts .email:focus {
  color: var(--blue-color);
}

.site-contacts .phone:hover,
.site-contacts .phone:focus {
  color: var(--blue-color);
}

.border {
  border-bottom: 1px solid var(--border-color);
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}


.zero-font-size{
  line-height: 0;
  font-size: 0px;
}


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Hero */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 30px;
}

/* Button */
.button {
  color: var(--primary-text-color);
  cursor: pointer;
  font-family: inherit;
  border: transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button.primary {
  color: var(--white-color);
  background-color: var(--blue-color);
  padding: 10px 32px;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}

/* Section */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

/* Feature */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  height: 98px;
  padding-left: 0px;
}

.feature-item {
  width: 270px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  font-style: normal;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.feature-list .text {
  width: 270px;
  color: var(--second-text-color);
  line-height: 1.7;
  margin-bottom: 0px;
}

/* Work */

.work-section {
  padding-top: 0px;
  padding-bottom: 94px;
}

.work-item {
  display: inline-block;
  padding: 0px;
  line-height: 0;
  font-size: 0px;
}

.work-item:not(:last-child) {
  margin-right: 29px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--gray-background);
}

.team-list {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.team-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}


.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-list .text {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 0px;
}

/* Footer */

.footer {
  box-sizing: border-box;
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;


  list-style: none;
  text-decoration: none;
}


.footer-info {
  width: 231px;
  height: 81px;
}

.footer-adress {
  margin-bottom: 9px;
  
  color: var(--white-color);
  font-style: normal;
  line-height: 1.7;
}

.footer-contacts {
  margin-bottom: 9px;
  
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  
  list-style: none;
  text-decoration: none;

}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--blue-color);
}

/* Portfolio */

.portfolio {
  padding-top: 80px;
  padding-bottom: 70px;
}

.portfolio-button {
  display: flex;
  margin-bottom: 50px;

  justify-content: center;
}

.portfolio-button .button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  margin: 0px;
}

.portfolio-button li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 60px) / 3);
  gap: 30px;
}

.portfolio-list-img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.portfolio-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-description .card-title {
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-description .card-text {
  margin-bottom: 0px;
  margin-top: 0px;

  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.black-background {
  background: var(--black-background);
}

.text-center {
  text-align: center;
}
